/* основные стили */

.header {
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
  z-index: 3;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* стили логотипа */
.header__logo {
  min-width: max-content;
}

.logo__img {
  width: 200px;
}
/* стиль меню навигации */
.header__nav {
  width: 100%;
  padding: 0px 40px;
  position: relative;
}
.header__nav__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.header__nav__item {
  font-size: 18px;
  cursor: pointer;
}
/* меню Burger */

.header__nav__burger {
  display: none;
  position: relative;
  height: 25px;
  width: 25px;
}

.header__nav__burger {
  color: #5661cb;
  transition: 0.2s ease-in-out color;
}

.header__nav__burger::before {
  background-color: #5661cb;
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-mask: url(/img/burger.svg) no-repeat 50% 50%;
  mask: url(/img/burger.svg) no-repeat 50% 50%;
  transition: background-color 0.2s ease-in-out;
}

.header__nav__burger:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: #9466ff;
}

.header__nav__burger:hover {
  color: #9466ff;
  transition: 0.2s ease-in-out color;
}

/* стиль иконок быстрого доступа */
.header__links {
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 40px;
}

.header__links__item__btn {
  width: 27px;
  height: 27px;
  display: block;
  position: relative;
}

.header__links__item__btn::before {
  background-color: #5661cb;
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease-in-out;
}
.header__links__item__btn--search {
  -webkit-mask: url(/img/search.svg) no-repeat 50% 50%;
  mask: url(/img/search.svg) no-repeat 50% 50%;
}

.header__links__item__btn--favorites {
  -webkit-mask: url(/img/favorites.svg) no-repeat 50% 50%;
  mask: url(/img/favorites.svg) no-repeat 50% 50%;
}
.header__links__item__btn--compare {
  -webkit-mask: url(/img/comparison.svg) no-repeat 50% 50%;
  mask: url(/img/comparison.svg) no-repeat 50% 50%;
}
.header__links__item__btn--cart {
  -webkit-mask: url(/img/cart.svg) no-repeat 50% 50%;
  mask: url(/img/cart.svg) no-repeat 50% 50%;
}
.header__links__item__btn--profile {
  -webkit-mask: url(/img/profile.svg) no-repeat 50% 50%;
  mask: url(/img/profile.svg) no-repeat 50% 50%;
}

.header__links__item__btn:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: #9466ff;
}

/* стили обратный звонок */
.header__callbackRequest {
  min-width: max-content;
  text-align: center;
}

.header__phoneNumber a {
  font-size: 24px;
  letter-spacing: 0.025em;
  color: #272727;
}
.header__callback__button {
  font-size: 16px;
  color: #5661cb;
}

@media (max-width: 1440px) {
  .header__container {
    padding: 25px 30px;
  }
}
@media (max-width: 1200px) {
  .header__container {
    padding: 15px 20px;
  }
  .logo__img {
    width: 150px;
  }
  .header__nav {
    padding: 0px 15px;
  }
  .header__links {
    padding: 0px 15px;
  }
  .header__phoneNumber a {
    font-size: 18px;
  }
  .header__callback__button {
    font-size: 14px;
  }
  .header__nav__item {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .logo__img {
    width: 100px;
  }
  .header__links {
    gap: 5px;
  }
  .header__phoneNumber a {
    font-size: 16px;
  }
  .header__callback__button {
    font-size: 12px;
  }
  .header__nav__item {
    font-size: 14px;
  }
  .header__links__item__btn {
    transform: scale(0.8);
  }
}
@media (max-width: 768px) {
  .header__nav__container {
    display: none;
  }
  .header__nav {
    width: 25px;
    height: 25px;
    order: 1;
    padding: 0px;
  }
  .header__nav__burger {
    display: block;
  }
  .header__callback__button {
    display: none;
  }
}
@media (max-width: 540px) {
  .header__callbackRequest {
    min-height: 26px;
    min-width: 26px;
    margin: 0px 10px;
  }
  .header__phoneNumber-num {
    display: none;
  }

  .header__phoneNumber-link {
    position: relative;
  }

  .header__phoneNumber-link {
    height: 26px;
    width: 26px;
    color: #5661cb;
    transition: 0.2s ease-in-out color;
  }

  .header__phoneNumber-link::before {
    background-color: #5661cb;
    content: '';
    height: 26px;
    width: 26px;
    position: absolute;
    left: -13px;
    top: 15px;
    -webkit-mask: url(/img/phoneNumber.svg) no-repeat 50% 50%;
    mask: url(/img/phoneNumber.svg) no-repeat 50% 50%;
    transition: background-color 0.2s ease-in-out;
  }

  .header__phoneNumber-link:hover::before {
    transition: background-color 0.2s ease-in-out;
    background-color: #9466ff;
  }

  .header__phoneNumber-link:hover {
    color: #9466ff;
    transition: 0.2s ease-in-out color;
  }
}
